
#logo
{
	width:600;
	height:200;
}
#header
{
	float:top;
	font-family:sans-serif;
	background-color:black;
	font-weight:bold;
}
#header img
{
	width:200px; 
	height:60px;
}
#header ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:red;
}
#header li
{
	float:left;
}
#header a:link,a:visited
{
	display:inline-block;
	color:white;
	width:120px;
	text-align:center;
	padding:9px;
	text-decoration:none;
	font-size:24;
	border-radius:10%;
}
#header a:hover,a:active
{
	background-color:black;
}
#center
{
	float:center;
	padding-left:20%
}
#center table
{
	width:750px;
}
#center table caption
{
	font-family:verdana;
	font-size:17;
	font-weight:bold;
}
#center table img
{
	height:150px;
	width:150px;
}
#center table td
{
	padding:5px;
}
#center table video
{
	height:150px;
	width:150px;
}
#ads
{
	float:left;
	width:200px;
	height:800px;
}
#ads p
{
	font-size:32;
}
#login img
{
	border-radius:50%;
	width:40px;
}
footer table img
{
	border-radius:50%;
	width:40px;
}
footer
{
	border-top-color:red;
	border-width:4 px;
	bottom:0 px;
	height:200 px;
	width:100%;
	background:gray;
	z-index:-1;
}
footer table
{
	margin-left:48%;
}